.blog-hero-section {
  margin-top: 80px;
}

.article {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.article-title {
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  padding-left: 8px;
  padding-right: 16px;
}

.button-decor-icon {
  position: absolute;
  right: 16px;
  transition: transform 0.3s ease;
}

.article-content {
  max-width: 600px;
  margin: 10px 0;
  padding: 10px;
  border-left: 3px solid#a3c5ba;
  background: #f9f9f9;
  box-sizing: border-box;
  display: none;
}

.admin-controls {
  margin-left: auto;
}

.blog-links-container .section-title{
  margin-bottom: 32px;
}

.blog-links-list {
  display: flex;
  flex-direction: column;
}

.blog-link-item{
  display: flex;
  gap: 16px;
  align-items:center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.arrow-icon{
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {

.blog-links-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
}

@media (min-width: 1024px) {
  .section-text-content {
    max-width: 452px;
  }

  .articles-container {
    display: flex;
    gap: 48px;
    justify-content: space-between;
  }

  .article-title {
    width: 540px;
  }

  .article-content {
    width: 540px;
  }

  .articles-container .section-img-wrap {
    flex: 1;
    position: sticky;
    top: 80px;
    height: fit-content;
    margin-bottom: 0;
  }

  .links-container {
    margin-top: 10px;
  }


.blog-links-list{
  justify-content: space-between;
}
}

@media screen and (min-width: 1440px) {
  .article-title {
    width: 640px;
  }

  .article-content {
    width: 640px;
  }

  .button-decor-icon {
    right: 64px;
  }
}
