.hero-section {
  margin-top: 80px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blog-card {
  max-width: 326px;
}

.horizontal {
  display: none;
}

@media screen and (min-width: 768px) {
  .blog-list {
    gap: 64px;
  }

  .blog-card {
    max-width: 672px;
  }
}

@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }

  .main {
    display: flex;
    flex-direction: row;
    width: calc(435vw + 5vw);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .hero-section {
    width: 474px;
  }

  .hero-container .section-text-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .section {
    height: 100vh;
  }

  .blog-card {
    width: 358px;
    height: auto;
  }

  .blog-list {
    flex-direction: row;
    row-gap: 82px;
    align-items: center;
  }

  .blog-item {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
    align-items: center;
  }

  .horizontal {
    display: block;
    width: 100vw;
    /* height: calc(99vh + 1px); */
    height: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section-text-content {
    max-width: 352px;
  }

  .section img {
    max-height: 69vh;
    max-width: 360px;
    object-fit: contain;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    width: calc(380vw + 5vw);
  }

  .hero-section {
    width: 583px;
  }

  .blog-list {
    row-gap: 0;
  }

  .blog-card {
    width: 504px;
  }

  .blog-card .img-description {
    max-width: 504px;
  }

  .blog-item {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section img {
    max-height: 72vh;
    object-fit: cover;
  }
}
