.workshop-hero-section {
  margin-top: 80px;
}

.workshop-hero-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-container .section-title,
.services-container .section-title {
  margin-bottom: 32px;
}

.blog-list,
.services-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blog-item,
.services-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .blog-list,
  .services-list {
    gap: 64px;
  }

  .services-list-item,
  .blog-item {
    gap: 32px;
  }
}
